In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/presidents.csv") 
df

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"
5,6,John Quincy Adams,"Jul 11, 1767","57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days","Feb 23, 1848","80 years, 227 days"
6,7,Andrew Jackson,"Mar 15, 1767","61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days","Jun 8, 1845","78 years, 85 days"
7,8,Martin Van Buren,"Dec 5, 1782","54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days","Jul 24, 1862","79 years, 231 days"
8,9,William H. Harrison,"Feb 9, 1773","68 years, 23 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]",NaN,"Apr 4, 1841","68 years, 54 days"
9,10,John Tyler,"Mar 29, 1790","51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days","Jan 18, 1862","71 years, 295 days"
10,11,James K. Polk,"Nov 2, 1795","49 years, 122 daysMar 4, 1845","53 years, 122 daysMar 4, 1849",103 days,"Jun 15, 1849","53 years, 225 days"
11,12,Zachary Taylor,"Nov 24, 1784","64 years, 100 daysMar 4, 1849","65 years, 227 daysJul 9, 1850[b]",NaN,"Jul 9, 1850","65 years, 227 days"
12,13,Millard Fillmore,"Jan 7, 1800","50 years, 183 daysJul 9, 1850","53 years, 56 daysMar 4, 1853","21 years, 4 days","Mar 8, 1874","74 years, 60 days"
13,14,Franklin Pierce,"Nov 23, 1804","48 years, 101 daysMar 4, 1853","52 years, 101 daysMar 4, 1857","12 years, 218 days","Oct 8, 1869","64 years, 319 days"
14,15,James Buchanan,"Apr 23, 1791","65 years, 315 daysMar 4, 1857","69 years, 315 daysMar 4, 1861","7 years, 89 days","Jun 1, 1868","77 years, 39 days"
15,16,Abraham Lincoln,"Feb 12, 1809","52 years, 20 daysMar 4, 1861","56 years, 62 daysApr 15, 1865[b]",NaN,"Apr 15, 1865","56 years, 62 days"
16,17,Andrew Johnson,"Dec 29, 1808","56 years, 107 daysApr 15, 1865","60 years, 65 daysMar 4, 1869","6 years, 149 days","Jul 31, 1875","66 years, 214 days"
17,18,Ulysses S. Grant,"Apr 27, 1822","46 years, 311 daysMar 4, 1869","54 years, 311 daysMar 4, 1877","8 years, 141 days","Jul 23, 1885","63 years, 87 days"
18,19,Rutherford B. Hayes,"Oct 4, 1822","54 years, 151 daysMar 4, 1877","58 years, 151 daysMar 4, 1881","11 years, 319 days","Jan 17, 1893","70 years, 105 days"
19,20,James A. Garfield,"Nov 19, 1831","49 years, 105 daysMar 4, 1881","49 years, 304 daysSep 19, 1881[b]",NaN,"Sep 19, 1881","49 years, 304 days"
20,21,Chester A. Arthur,"Oct 5, 1829","51 years, 349 daysSep 19, 1881","55 years, 150 daysMar 4, 1885","1 year, 259 days","Nov 18, 1886","57 years, 44 days"
21,22,Grover Cleveland,"Mar 18, 1837","47 years, 351 daysMar 4, 1885","51 years, 351 daysMar 4, 1889","4 years, 0 days[c]","Jun 24, 1908","71 years, 98 days"
22,23,Benjamin Harrison,"Aug 20, 1833","55 years, 196 daysMar 4, 1889","59 years, 196 daysMar 4, 1893","8 years, 9 days","Mar 13, 1901","67 years, 205 days"
23,24,Grover Cleveland,"Mar 18, 1837","55 years, 351 daysMar 4, 1893","59 years, 351 daysMar 4, 1897","11 years, 112 days[d]","Jun 24, 1908","71 years, 98 days"
24,25,William McKinley,"Jan 29, 1843","54 years, 34 daysMar 4, 1897","58 years, 228 daysSep 14, 1901[b]",NaN,"Sep 14, 1901","58 years, 228 days"
25,26,Theodore Roosevelt,"Oct 27, 1858","42 years, 322 daysSep 14, 1901","50 years, 128 daysMar 4, 1909","9 years, 308 days","Jan 6, 1919","60 years, 71 days"
26,27,William H. Taft,"Sep 15, 1857","51 years, 170 daysMar 4, 1909","55 years, 170 daysMar 4, 1913","17 years, 4 days","Mar 8, 1930","72 years, 174 days"
27,28,Woodrow Wilson,"Dec 28, 1856","56 years, 66 daysMar 4, 1913","64 years, 66 daysMar 4, 1921","2 years, 336 days","Feb 3, 1924","67 years, 37 days"
28,29,Warren G. Harding,"Nov 2, 1865","55 years, 122 daysMar 4, 1921","57 years, 273 daysAug 2, 1923[b]",NaN,"Aug 2, 1923","57 years, 273 days"
29,30,Calvin Coolidge,"Jul 4, 1872","51 years, 29 daysAug 2, 1923","56 years, 243 daysMar 4, 1929","3 years, 307 days","Jan 5, 1933","60 years, 185 days"
30,31,Herbert Hoover,"Aug 10, 1874","54 years, 206 daysMar 4, 1929","58 years, 206 daysMar 4, 1933","31 years, 230 days","Oct 20, 1964","90 years, 71 days"
31,32,Franklin D. Roosevelt,"Jan 30, 1882","51 years, 33 daysMar 4, 1933","63 years, 72 daysApr 12, 1945[b]",NaN,"Apr 12, 1945","63 years, 72 days"
32,33,Harry S. Truman,"May 8, 1884","60 years, 339 daysApr 12, 1945","68 years, 257 daysJan 20, 1953","19 years, 341 days","Dec 26, 1972","88 years, 232 days"
33,34,Dwight D. Eisenhower,"Oct 14, 1890","62 years, 98 daysJan 20, 1953","70 years, 98 daysJan 20, 1961","8 years, 67 days","Mar 28, 1969","78 years, 165 days"
34,35,John F. Kennedy,"May 29, 1917","43 years, 236 daysJan 20, 1961","46 years, 177 daysNov 22, 1963[b]",NaN,"Nov 22, 1963","46 years, 177 days"
35,36,Lyndon B. Johnson,"Aug 27, 1908","55 years, 87 daysNov 22, 1963","60 years, 146 daysJan 20, 1969","4 years, 2 days","Jan 22, 1973","64 years, 148 days"
36,37,Richard Nixon,"Jan 9, 1913","56 years, 11 daysJan 20, 1969","61 years, 212 daysAug 9, 1974[e]","19 years, 256 days","Apr 22, 1994","81 years, 103 days"
37,38,Gerald Ford,"Jul 14, 1913","61 years, 26 daysAug 9, 1974","63 years, 190 daysJan 20, 1977","29 years, 340 days","Dec 26, 2006","93 years, 165 days"
38,39,Jimmy Carter,"Oct 1, 1924","52 years, 111 daysJan 20, 1977","56 years, 111 daysJan 20, 1981","38 years, 175 days",(living),"94 years, 286 days"
39,40,Ronald Reagan,"Feb 6, 1911","69 years, 349 daysJan 20, 1981","77 years, 349 daysJan 20, 1989","15 years, 137 days","Jun 5, 2004","93 years, 120 days"
40,41,George H. W. Bush,"Jun 12, 1924","64 years, 222 daysJan 20, 1989","68 years, 222 daysJan 20, 1993","25 years, 314 days","Nov 30, 2018","94 years, 171 days"
41,42,Bill Clinton,"Aug 19, 1946","46 years, 154 daysJan 20, 1993","54 years, 154 daysJan 20, 2001","18 years, 175 days",(living),"72 years, 329 days"
42,43,George W. Bush,"Jul 6, 1946","54 years, 198 daysJan 20, 2001","62 years, 198 daysJan 20, 2009","10 years, 175 days",(living),"73 years, 8 days"
43,44,Barack Obama,"Aug 4, 1961","47 years, 169 daysJan 20, 2009","55 years, 169 daysJan 20, 2017","2 years, 175 days",(living),"57 years, 344 days"

In [3]:
df.columns = [item.lower().strip() for item in df.columns]
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

solution 1 :

In [4]:
df["first"] = df["president"]
df["first"] = df["first"].replace('[ ].*', '', regex= True)

df["last"] = df["president"].replace('(.*)(?=\s.*)', '', regex= True)

df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [5]:
del df["first"]
del df["last"]

solution 2 :

In [6]:
df["first"] = df["president"]
df["first"] = df["first"].replace("\s.+", "", regex= True)

df["last"] = df["president"].replace("([\w]+)(?=\s[.]*)", "", regex= True)

df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [7]:
df.drop("first", inplace= True, axis= 1)
df.drop("last", inplace= True, axis= "columns")

solution 3 :

In [8]:
def splitName(row):
    row["first"] = row["president"].split(" ")[0]
    row["last"] = row["president"].split(" ")[-1]
    
    return row

df = df.apply(splitName, axis= 1)
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

solution 4:

In [9]:
del df["first"]
del df["last"]

In [10]:
pattern = "(^.*)(?:\s)(.*$)"

df["president"].str.extract(pattern)

                0           1
0          George  Washington
1            John       Adams
2          Thomas   Jefferson
3           James     Madison
4           James      Monroe
5     John Quincy       Adams
6          Andrew     Jackson
7      Martin Van       Buren
8      William H.    Harrison
9            John       Tyler
10       James K.        Polk
11        Zachary      Taylor
12        Millard    Fillmore
13       Franklin      Pierce
14          James    Buchanan
15        Abraham     Lincoln
16         Andrew     Johnson
17     Ulysses S.       Grant
18  Rutherford B.       Hayes
19       James A.    Garfield
20     Chester A.      Arthur
21         Grover   Cleveland
22       Benjamin    Harrison
23         Grover   Cleveland
24        William    McKinley
25       Theodore   Roosevelt
26     William H.        Taft
27        Woodrow      Wilson
28      Warren G.     Harding
29         Calvin    Coolidge
30        Herbert      Hoover
31    Franklin D.   Roosevelt
32       Harry S.      Truman
33      Dwight D.  Eisenhower
34        John F.     Kennedy
35      Lyndon B.     Johnson
36        Richard       Nixon
37         Gerald        Ford
38          Jimmy      Carter
39         Ronald      Reagan
40   George H. W.        Bush
41           Bill     Clinton
42      George W.        Bush
43         Barack       Obama

In [11]:
pattern = "(?P<FirstName>^[\w]*)(?:.* )(?P<LastName>[\w]*$)"

names_df = df["president"].str.extract(pattern)
names_df.head(10)

  FirstName    LastName
0    George  Washington
1      John       Adams
2    Thomas   Jefferson
3     James     Madison
4     James      Monroe
5      John       Adams
6    Andrew     Jackson
7    Martin       Buren
8   William    Harrison
9      John       Tyler

In [12]:
df["first"] = names_df["FirstName"]
df["last"] = names_df['LastName']
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [13]:
df["born"] = df["born"].str.extract('([\w]{3}\s\d{1,2},\s[\w]{4})')
df["born"].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: born, dtype: object

In [14]:
df["born"] = pd.to_datetime(df["born"])
df["born"].head()

0   1732-02-22
1   1735-10-30
2   1743-04-13
3   1751-03-16
4   1758-04-28
Name: born, dtype: datetime64[ns]

In [15]:
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [16]:
df.set_index("#", inplace= True)

In [17]:
df = df.rename(columns= {"age atstart of presidency" : "age at start of presidency",
                   "post-presidencytimespan" : "post-presidency timespan"})
df.head()

,president,born,age at start of presidency,age atend of presidency,post-presidency timespan,died,age,first,last
#,,,,,,,,,
1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [18]:
die_df1 = df.loc[1:38, "died"]
die_df2 = df.loc[40:41, "died"]
die_df = die_df1.append(die_df2)
die_df = pd.to_datetime(die_df)
die_df

#
1    1799-12-14
2    1826-07-04
3    1826-07-04
4    1836-06-28
5    1831-07-04
6    1848-02-23
7    1845-06-08
8    1862-07-24
9    1841-04-04
10   1862-01-18
11   1849-06-15
12   1850-07-09
13   1874-03-08
14   1869-10-08
15   1868-06-01
16   1865-04-15
17   1875-07-31
18   1885-07-23
19   1893-01-17
20   1881-09-19
21   1886-11-18
22   1908-06-24
23   1901-03-13
24   1908-06-24
25   1901-09-14
26   1919-01-06
27   1930-03-08
28   1924-02-03
29   1923-08-02
30   1933-01-05
31   1964-10-20
32   1945-04-12
33   1972-12-26
34   1969-03-28
35   1963-11-22
36   1973-01-22
37   1994-04-22
38   2006-12-26
40   2004-06-05
41   2018-11-30
Name: died, dtype: datetime64[ns]

In [19]:
living_df = df[df["died"] == "(living)"]
living_df["died"]

#
39    (living)
42    (living)
43    (living)
44    (living)
Name: died, dtype: object

In [20]:
df["died"] = die_df.append(living_df['died'])
df

,president,born,age at start of presidency,age atend of presidency,post-presidency timespan,died,age,first,last
#,,,,,,,,,
1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1799-12-14 00:00:00,"67 years, 295 days",George,Washington
2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1826-07-04 00:00:00,"90 years, 247 days",John,Adams
3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1826-07-04 00:00:00,"83 years, 82 days",Thomas,Jefferson
4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1836-06-28 00:00:00,"85 years, 104 days",James,Madison
5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1831-07-04 00:00:00,"73 years, 67 days",James,Monroe
6,John Quincy Adams,1767-07-11,"57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days",1848-02-23 00:00:00,"80 years, 227 days",John,Adams
7,Andrew Jackson,1767-03-15,"61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days",1845-06-08 00:00:00,"78 years, 85 days",Andrew,Jackson
8,Martin Van Buren,1782-12-05,"54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days",1862-07-24 00:00:00,"79 years, 231 days",Martin,Buren
9,William H. Harrison,1773-02-09,"68 years, 23 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]",NaN,1841-04-04 00:00:00,"68 years, 54 days",William,Harrison
10,John Tyler,1790-03-29,"51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days",1862-01-18 00:00:00,"71 years, 295 days",John,Tyler
11,James K. Polk,1795-11-02,"49 years, 122 daysMar 4, 1845","53 years, 122 daysMar 4, 1849",103 days,1849-06-15 00:00:00,"53 years, 225 days",James,Polk
12,Zachary Taylor,1784-11-24,"64 years, 100 daysMar 4, 1849","65 years, 227 daysJul 9, 1850[b]",NaN,1850-07-09 00:00:00,"65 years, 227 days",Zachary,Taylor
13,Millard Fillmore,1800-01-07,"50 years, 183 daysJul 9, 1850","53 years, 56 daysMar 4, 1853","21 years, 4 days",1874-03-08 00:00:00,"74 years, 60 days",Millard,Fillmore
14,Franklin Pierce,1804-11-23,"48 years, 101 daysMar 4, 1853","52 years, 101 daysMar 4, 1857","12 years, 218 days",1869-10-08 00:00:00,"64 years, 319 days",Franklin,Pierce
15,James Buchanan,1791-04-23,"65 years, 315 daysMar 4, 1857","69 years, 315 daysMar 4, 1861","7 years, 89 days",1868-06-01 00:00:00,"77 years, 39 days",James,Buchanan
16,Abraham Lincoln,1809-02-12,"52 years, 20 daysMar 4, 1861","56 years, 62 daysApr 15, 1865[b]",NaN,1865-04-15 00:00:00,"56 years, 62 days",Abraham,Lincoln
17,Andrew Johnson,1808-12-29,"56 years, 107 daysApr 15, 1865","60 years, 65 daysMar 4, 1869","6 years, 149 days",1875-07-31 00:00:00,"66 years, 214 days",Andrew,Johnson
18,Ulysses S. Grant,1822-04-27,"46 years, 311 daysMar 4, 1869","54 years, 311 daysMar 4, 1877","8 years, 141 days",1885-07-23 00:00:00,"63 years, 87 days",Ulysses,Grant
19,Rutherford B. Hayes,1822-10-04,"54 years, 151 daysMar 4, 1877","58 years, 151 daysMar 4, 1881","11 years, 319 days",1893-01-17 00:00:00,"70 years, 105 days",Rutherford,Hayes
20,James A. Garfield,1831-11-19,"49 years, 105 daysMar 4, 1881","49 years, 304 daysSep 19, 1881[b]",NaN,1881-09-19 00:00:00,"49 years, 304 days",James,Garfield
21,Chester A. Arthur,1829-10-05,"51 years, 349 daysSep 19, 1881","55 years, 150 daysMar 4, 1885","1 year, 259 days",1886-11-18 00:00:00,"57 years, 44 days",Chester,Arthur
22,Grover Cleveland,1837-03-18,"47 years, 351 daysMar 4, 1885","51 years, 351 daysMar 4, 1889","4 years, 0 days[c]",1908-06-24 00:00:00,"71 years, 98 days",Grover,Cleveland
23,Benjamin Harrison,1833-08-20,"55 years, 196 daysMar 4, 1889","59 years, 196 daysMar 4, 1893","8 years, 9 days",1901-03-13 00:00:00,"67 years, 205 days",Benjamin,Harrison
24,Grover Cleveland,1837-03-18,"55 years, 351 daysMar 4, 1893","59 years, 351 daysMar 4, 1897","11 years, 112 days[d]",1908-06-24 00:00:00,"71 years, 98 days",Grover,Cleveland
25,William McKinley,1843-01-29,"54 years, 34 daysMar 4, 1897","58 years, 228 daysSep 14, 1901[b]",NaN,1901-09-14 00:00:00,"58 years, 228 days",William,McKinley
26,Theodore Roosevelt,1858-10-27,"42 years, 322 daysSep 14, 1901","50 years, 128 daysMar 4, 1909","9 years, 308 days",1919-01-06 00:00:00,"60 years, 71 days",Theodore,Roosevelt
27,William H. Taft,1857-09-15,"51 years, 170 daysMar 4, 1909","55 years, 170 daysMar 4, 1913","17 years, 4 days",1930-03-08 00:00:00,"72 years, 174 days",William,Taft
28,Woodrow Wilson,1856-12-28,"56 years, 66 daysMar 4, 1913","64 years, 66 daysMar 4, 1921","2 years, 336 days",1924-02-03 00:00:00,"67 years, 37 days",Woodrow,Wilson
29,Warren G. Harding,1865-11-02,"55 years, 122 daysMar 4, 1921","57 years, 273 daysAug 2, 1923[b]",NaN,1923-08-02 00:00:00,"57 years, 273 days",Warren,Harding
30,Calvin Coolidge,1872-07-04,"51 years, 29 daysAug 2, 1923","56 years, 243 daysMar 4, 1929","3 years, 307 days",1933-01-05 00:00:00,"60 years, 185 days",Calvin,Coolidge
31,Herbert Hoover,1874-08-10,"54 years, 206 daysMar 4, 1929","58 years, 206 daysMar 4, 1933","31 years, 230 days",1964-10-20 00:00:00,"90 years, 71 days",Herbert,Hoover
32,Franklin D. Roosevelt,1882-01-30,"51 years, 33 daysMar 4, 1933","63 years, 72 daysApr 12, 1945[b]",NaN,1945-04-12 00:00:00,"63 years, 72 days",Franklin,Roosevelt
33,Harry S. Truman,1884-05-08,"60 years, 339 daysApr 12, 1945","68 years, 257 daysJan 20, 1953","19 years, 341 days",1972-12-26 00:00:00,"88 years, 232 days",Harry,Truman
34,Dwight D. Eisenhower,1890-10-14,"62 years, 98 daysJan 20, 1953","70 years, 98 daysJan 20, 1961","8 years, 67 days",1969-03-28 00:00:00,"78 years, 165 days",Dwight,Eisenhower
35,John F. Kennedy,1917-05-29,"43 years, 236 daysJan 20, 1961","46 years, 177 daysNov 22, 1963[b]",NaN,1963-11-22 00:00:00,"46 years, 177 days",John,Kennedy
36,Lyndon B. Johnson,1908-08-27,"55 years, 87 daysNov 22, 1963","60 years, 146 daysJan 20, 1969","4 years, 2 days",1973-01-22 00:00:00,"64 years, 148 days",Lyndon,Johnson
37,Richard Nixon,1913-01-09,"56 years, 11 daysJan 20, 1969","61 years, 212 daysAug 9, 1974[e]","19 years, 256 days",1994-04-22 00:00:00,"81 years, 103 days",Richard,Nixon
38,Gerald Ford,1913-07-14,"61 years, 26 daysAug 9, 1974","63 years, 190 daysJan 20, 1977","29 years, 340 days",2006-12-26 00:00:00,"93 years, 165 days",Gerald,Ford
39,Jimmy Carter,1924-10-01,"52 years, 111 daysJan 20, 1977","56 years, 111 daysJan 20, 1981","38 years, 175 days",(living),"94 years, 286 days",Jimmy,Carter
40,Ronald Reagan,1911-02-06,"69 years, 349 daysJan 20, 1981","77 years, 349 daysJan 20, 1989","15 years, 137 days",2004-06-05 00:00:00,"93 years, 120 days",Ronald,Reagan
41,George H. W. Bush,1924-06-12,"64 years, 222 daysJan 20, 1989","68 years, 222 daysJan 20, 1993","25 years, 314 days",2018-11-30 00:00:00,"94 years, 171 days",George,Bush
42,Bill Clinton,1946-08-19,"46 years, 154 daysJan 20, 1993","54 years, 154 daysJan 20, 2001","18 years, 175 days",(living),"72 years, 329 days",Bill,Clinton
43,George W. Bush,1946-07-06,"54 years, 198 daysJan 20, 2001","62 years, 198 daysJan 20, 2009","10 years, 175 days",(living),"73 years, 8 days",George,Bush
44,Barack Obama,1961-08-04,"47 years, 169 daysJan 20, 2009","55 years, 169 daysJan 20, 2017","2 years, 175 days",(living),"57 years, 344 days",Barack,Obama

In [21]:
df["died"]

#
1     1799-12-14 00:00:00
2     1826-07-04 00:00:00
3     1826-07-04 00:00:00
4     1836-06-28 00:00:00
5     1831-07-04 00:00:00
6     1848-02-23 00:00:00
7     1845-06-08 00:00:00
8     1862-07-24 00:00:00
9     1841-04-04 00:00:00
10    1862-01-18 00:00:00
11    1849-06-15 00:00:00
12    1850-07-09 00:00:00
13    1874-03-08 00:00:00
14    1869-10-08 00:00:00
15    1868-06-01 00:00:00
16    1865-04-15 00:00:00
17    1875-07-31 00:00:00
18    1885-07-23 00:00:00
19    1893-01-17 00:00:00
20    1881-09-19 00:00:00
21    1886-11-18 00:00:00
22    1908-06-24 00:00:00
23    1901-03-13 00:00:00
24    1908-06-24 00:00:00
25    1901-09-14 00:00:00
26    1919-01-06 00:00:00
27    1930-03-08 00:00:00
28    1924-02-03 00:00:00
29    1923-08-02 00:00:00
30    1933-01-05 00:00:00
31    1964-10-20 00:00:00
32    1945-04-12 00:00:00
33    1972-12-26 00:00:00
34    1969-03-28 00:00:00
35    1963-11-22 00:00:00
36    1973-01-22 00:00:00
37    1994-04-22 00:00:00
38    2006-12-26 00:00:00
39               (living)
40    2004-06-05 00:00:00
41    2018-11-30 00:00:00
42               (living)
43               (living)
44               (living)
Name: died, dtype: object

In [22]:
df["Age at start of presidency"] = df["age at start of presidency"].str.extract("(.*)(?=[A-Z])")
df["the start year of presidency"] = df["age at start of presidency"].str.extract("(?:.*)([A-Z].*)")

df["the start year of presidency"] = pd.to_datetime(df["the start year of presidency"])

In [23]:
df["age atend of presidency"].replace(df.loc[9, "age atend of presidency"], "68 years, 54 daysApr 4, 1841[b]", inplace= True)
df["age atend of presidency"] = df["age atend of presidency"].str.extract("(.*[\w]{3}\s\d{1,2}\,\s\d{4})")
df["age atend of presidency"]
df.head(10)

,president,born,age at start of presidency,age atend of presidency,post-presidency timespan,died,age,first,last,Age at start of presidency,the start year of presidency
#,,,,,,,,,,,
1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1799-12-14 00:00:00,"67 years, 295 days",George,Washington,"57 years, 67 days",1789-04-30
2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1826-07-04 00:00:00,"90 years, 247 days",John,Adams,"61 years, 125 days",1797-03-04
3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1826-07-04 00:00:00,"83 years, 82 days",Thomas,Jefferson,"57 years, 325 days",1801-03-04
4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1836-06-28 00:00:00,"85 years, 104 days",James,Madison,"57 years, 353 days",1809-03-04
5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1831-07-04 00:00:00,"73 years, 67 days",James,Monroe,"58 years, 310 days",1817-03-04
6,John Quincy Adams,1767-07-11,"57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days",1848-02-23 00:00:00,"80 years, 227 days",John,Adams,"57 years, 236 days",1825-03-04
7,Andrew Jackson,1767-03-15,"61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days",1845-06-08 00:00:00,"78 years, 85 days",Andrew,Jackson,"61 years, 354 days",1829-03-04
8,Martin Van Buren,1782-12-05,"54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days",1862-07-24 00:00:00,"79 years, 231 days",Martin,Buren,"54 years, 89 days",1837-03-04
9,William H. Harrison,1773-02-09,"68 years, 23 daysMar 4, 1841","68 years, 54 daysApr 4, 1841",NaN,1841-04-04 00:00:00,"68 years, 54 days",William,Harrison,"68 years, 23 days",1841-03-04
10,John Tyler,1790-03-29,"51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days",1862-01-18 00:00:00,"71 years, 295 days",John,Tyler,"51 years, 6 days",1841-04-04

In [24]:
df["Age atend of presidency"] = df["age atend of presidency"].str.extract("(.*)(?=[A-Z])")
df["the end year of presidency"] = df["age atend of presidency"].str.extract("(?:.*)([A-Z].*)")

df["the end year of presidency"] = pd.to_datetime(df["the end year of presidency"]) 
df["the end year of presidency"].head(10)

#
1    1797-03-04
2    1801-03-04
3    1809-03-04
4    1817-03-04
5    1825-03-04
6    1829-03-04
7    1837-03-04
8    1841-03-04
9    1841-04-04
10   1845-03-04
Name: the end year of presidency, dtype: datetime64[ns]

In [25]:
del df["president"]
del df["age at start of presidency"]
del df["age atend of presidency"]

df.rename(columns= {"Age at start of presidency" : "age at start of presidency",
                    "Age atend of presidency" : "age atend of presidency",
                   "first" : "president first name",
                   "last" : "president last name"}, inplace= True)


df.head()

,born,post-presidency timespan,died,age,president first name,president last name,age at start of presidency,the start year of presidency,age atend of presidency,the end year of presidency
#,,,,,,,,,,
1,1732-02-22,"2 years, 285 days",1799-12-14 00:00:00,"67 years, 295 days",George,Washington,"57 years, 67 days",1789-04-30,"65 years, 10 days",1797-03-04
2,1735-10-30,"25 years, 122 days",1826-07-04 00:00:00,"90 years, 247 days",John,Adams,"61 years, 125 days",1797-03-04,"65 years, 125 days",1801-03-04
3,1743-04-13,"17 years, 122 days",1826-07-04 00:00:00,"83 years, 82 days",Thomas,Jefferson,"57 years, 325 days",1801-03-04,"65 years, 325 days",1809-03-04
4,1751-03-16,"19 years, 116 days",1836-06-28 00:00:00,"85 years, 104 days",James,Madison,"57 years, 353 days",1809-03-04,"65 years, 353 days",1817-03-04
5,1758-04-28,"6 years, 122 days",1831-07-04 00:00:00,"73 years, 67 days",James,Monroe,"58 years, 310 days",1817-03-04,"66 years, 310 days",1825-03-04

In [26]:
df["post-presidency timespan"]

#
1         2 years, 285 days
2        25 years, 122 days
3        17 years, 122 days
4        19 years, 116 days
5         6 years, 122 days
6        18 years, 356 days
7          8 years, 96 days
8        21 years, 142 days
9                       NaN
10       16 years, 320 days
11                 103 days
12                      NaN
13         21 years, 4 days
14       12 years, 218 days
15         7 years, 89 days
16                      NaN
17        6 years, 149 days
18        8 years, 141 days
19       11 years, 319 days
20                      NaN
21         1 year, 259 days
22       4 years, 0 days[c]
23          8 years, 9 days
24    11 years, 112 days[d]
25                      NaN
26        9 years, 308 days
27         17 years, 4 days
28        2 years, 336 days
29                      NaN
30        3 years, 307 days
31       31 years, 230 days
32                      NaN
33       19 years, 341 days
34         8 years, 67 days
35                      NaN
36          4 years, 2 days
37       19 years, 256 days
38       29 years, 340 days
39       38 years, 175 days
40       15 years, 137 days
41       25 years, 314 days
42       18 years, 175 days
43       10 years, 175 days
44        2 years, 175 days
Name: post-presidency timespan, dtype: object

In [27]:
df["post-presidency timespan"] = df["post-presidency timespan"].str.extract("(\d{1,2}\s\w*\,\s\d{1,3}\s\w*)")
df["post-presidency timespan"]

#
1      2 years, 285 days
2     25 years, 122 days
3     17 years, 122 days
4     19 years, 116 days
5      6 years, 122 days
6     18 years, 356 days
7       8 years, 96 days
8     21 years, 142 days
9                    NaN
10    16 years, 320 days
11                   NaN
12                   NaN
13      21 years, 4 days
14    12 years, 218 days
15      7 years, 89 days
16                   NaN
17     6 years, 149 days
18     8 years, 141 days
19    11 years, 319 days
20                   NaN
21      1 year, 259 days
22       4 years, 0 days
23       8 years, 9 days
24    11 years, 112 days
25                   NaN
26     9 years, 308 days
27      17 years, 4 days
28     2 years, 336 days
29                   NaN
30     3 years, 307 days
31    31 years, 230 days
32                   NaN
33    19 years, 341 days
34      8 years, 67 days
35                   NaN
36       4 years, 2 days
37    19 years, 256 days
38    29 years, 340 days
39    38 years, 175 days
40    15 years, 137 days
41    25 years, 314 days
42    18 years, 175 days
43    10 years, 175 days
44     2 years, 175 days
Name: post-presidency timespan, dtype: object

In [28]:
df.loc[[9,11,12,16,20,25,29,32,35], :]

,born,post-presidency timespan,died,age,president first name,president last name,age at start of presidency,the start year of presidency,age atend of presidency,the end year of presidency
#,,,,,,,,,,
9,1773-02-09,NaN,1841-04-04 00:00:00,"68 years, 54 days",William,Harrison,"68 years, 23 days",1841-03-04,"68 years, 54 days",1841-04-04
11,1795-11-02,NaN,1849-06-15 00:00:00,"53 years, 225 days",James,Polk,"49 years, 122 days",1845-03-04,"53 years, 122 days",1849-03-04
12,1784-11-24,NaN,1850-07-09 00:00:00,"65 years, 227 days",Zachary,Taylor,"64 years, 100 days",1849-03-04,"65 years, 227 days",1850-07-09
16,1809-02-12,NaN,1865-04-15 00:00:00,"56 years, 62 days",Abraham,Lincoln,"52 years, 20 days",1861-03-04,"56 years, 62 days",1865-04-15
20,1831-11-19,NaN,1881-09-19 00:00:00,"49 years, 304 days",James,Garfield,"49 years, 105 days",1881-03-04,"49 years, 304 days",1881-09-19
25,1843-01-29,NaN,1901-09-14 00:00:00,"58 years, 228 days",William,McKinley,"54 years, 34 days",1897-03-04,"58 years, 228 days",1901-09-14
29,1865-11-02,NaN,1923-08-02 00:00:00,"57 years, 273 days",Warren,Harding,"55 years, 122 days",1921-03-04,"57 years, 273 days",1923-08-02
32,1882-01-30,NaN,1945-04-12 00:00:00,"63 years, 72 days",Franklin,Roosevelt,"51 years, 33 days",1933-03-04,"63 years, 72 days",1945-04-12
35,1917-05-29,NaN,1963-11-22 00:00:00,"46 years, 177 days",John,Kennedy,"43 years, 236 days",1961-01-20,"46 years, 177 days",1963-11-22

In [29]:
revised_df = df["post-presidency timespan"].fillna("0 days")
revised_df.loc[11] = "103 days"

In [30]:
revised_df.head(20)

#
1      2 years, 285 days
2     25 years, 122 days
3     17 years, 122 days
4     19 years, 116 days
5      6 years, 122 days
6     18 years, 356 days
7       8 years, 96 days
8     21 years, 142 days
9                 0 days
10    16 years, 320 days
11              103 days
12                0 days
13      21 years, 4 days
14    12 years, 218 days
15      7 years, 89 days
16                0 days
17     6 years, 149 days
18     8 years, 141 days
19    11 years, 319 days
20                0 days
Name: post-presidency timespan, dtype: object

In [31]:
fn_df = df["president first name"]
ln_df = df["president last name"]
born_df = df["born"]
start_presidency_df = df["age at start of presidency"]
start_year_df = df["the start year of presidency"]
end_presidency_df = df["age atend of presidency"]
end_year_df = df["the end year of presidency"]
timespan_df = df["post-presidency timespan"]
died_df = df["died"]
age_df = df["age"]

In [32]:
cols = list(df.columns)
cols.clear()
cols.extend(["president first name", "president last name", "born",
            "age at start of presidency", "the start year of presidency",
            "age atend of presidency", "the end year of presidency",
            "post-presidency timespan", "died", "age"])
cols

['president first name',
 'president last name',
 'born',
 'age at start of presidency',
 'the start year of presidency',
 'age atend of presidency',
 'the end year of presidency',
 'post-presidency timespan',
 'died',
 'age']

In [33]:
df.columns = cols

In [34]:
df["president first name"] = fn_df
df["president last name"] = ln_df
df["born"] = born_df
df['age at start of presidency'] = start_presidency_df
df['the start year of presidency'] = start_year_df
df["age atend of presidency"] = end_presidency_df
df["the end year of presidency"] = end_year_df
df["post-presidency timespan"] = timespan_df
df["died"] = died_df
df["age"] = age_df

In [35]:
df["post-presidency timespan"] = revised_df
df

,president first name,president last name,born,age at start of presidency,the start year of presidency,age atend of presidency,the end year of presidency,post-presidency timespan,died,age
#,,,,,,,,,,
1,George,Washington,1732-02-22,"57 years, 67 days",1789-04-30,"65 years, 10 days",1797-03-04,"2 years, 285 days",1799-12-14 00:00:00,"67 years, 295 days"
2,John,Adams,1735-10-30,"61 years, 125 days",1797-03-04,"65 years, 125 days",1801-03-04,"25 years, 122 days",1826-07-04 00:00:00,"90 years, 247 days"
3,Thomas,Jefferson,1743-04-13,"57 years, 325 days",1801-03-04,"65 years, 325 days",1809-03-04,"17 years, 122 days",1826-07-04 00:00:00,"83 years, 82 days"
4,James,Madison,1751-03-16,"57 years, 353 days",1809-03-04,"65 years, 353 days",1817-03-04,"19 years, 116 days",1836-06-28 00:00:00,"85 years, 104 days"
5,James,Monroe,1758-04-28,"58 years, 310 days",1817-03-04,"66 years, 310 days",1825-03-04,"6 years, 122 days",1831-07-04 00:00:00,"73 years, 67 days"
6,John,Adams,1767-07-11,"57 years, 236 days",1825-03-04,"61 years, 236 days",1829-03-04,"18 years, 356 days",1848-02-23 00:00:00,"80 years, 227 days"
7,Andrew,Jackson,1767-03-15,"61 years, 354 days",1829-03-04,"69 years, 354 days",1837-03-04,"8 years, 96 days",1845-06-08 00:00:00,"78 years, 85 days"
8,Martin,Buren,1782-12-05,"54 years, 89 days",1837-03-04,"58 years, 89 days",1841-03-04,"21 years, 142 days",1862-07-24 00:00:00,"79 years, 231 days"
9,William,Harrison,1773-02-09,"68 years, 23 days",1841-03-04,"68 years, 54 days",1841-04-04,0 days,1841-04-04 00:00:00,"68 years, 54 days"
10,John,Tyler,1790-03-29,"51 years, 6 days",1841-04-04,"54 years, 340 days",1845-03-04,"16 years, 320 days",1862-01-18 00:00:00,"71 years, 295 days"
11,James,Polk,1795-11-02,"49 years, 122 days",1845-03-04,"53 years, 122 days",1849-03-04,103 days,1849-06-15 00:00:00,"53 years, 225 days"
12,Zachary,Taylor,1784-11-24,"64 years, 100 days",1849-03-04,"65 years, 227 days",1850-07-09,0 days,1850-07-09 00:00:00,"65 years, 227 days"
13,Millard,Fillmore,1800-01-07,"50 years, 183 days",1850-07-09,"53 years, 56 days",1853-03-04,"21 years, 4 days",1874-03-08 00:00:00,"74 years, 60 days"
14,Franklin,Pierce,1804-11-23,"48 years, 101 days",1853-03-04,"52 years, 101 days",1857-03-04,"12 years, 218 days",1869-10-08 00:00:00,"64 years, 319 days"
15,James,Buchanan,1791-04-23,"65 years, 315 days",1857-03-04,"69 years, 315 days",1861-03-04,"7 years, 89 days",1868-06-01 00:00:00,"77 years, 39 days"
16,Abraham,Lincoln,1809-02-12,"52 years, 20 days",1861-03-04,"56 years, 62 days",1865-04-15,0 days,1865-04-15 00:00:00,"56 years, 62 days"
17,Andrew,Johnson,1808-12-29,"56 years, 107 days",1865-04-15,"60 years, 65 days",1869-03-04,"6 years, 149 days",1875-07-31 00:00:00,"66 years, 214 days"
18,Ulysses,Grant,1822-04-27,"46 years, 311 days",1869-03-04,"54 years, 311 days",1877-03-04,"8 years, 141 days",1885-07-23 00:00:00,"63 years, 87 days"
19,Rutherford,Hayes,1822-10-04,"54 years, 151 days",1877-03-04,"58 years, 151 days",1881-03-04,"11 years, 319 days",1893-01-17 00:00:00,"70 years, 105 days"
20,James,Garfield,1831-11-19,"49 years, 105 days",1881-03-04,"49 years, 304 days",1881-09-19,0 days,1881-09-19 00:00:00,"49 years, 304 days"
21,Chester,Arthur,1829-10-05,"51 years, 349 days",1881-09-19,"55 years, 150 days",1885-03-04,"1 year, 259 days",1886-11-18 00:00:00,"57 years, 44 days"
22,Grover,Cleveland,1837-03-18,"47 years, 351 days",1885-03-04,"51 years, 351 days",1889-03-04,"4 years, 0 days",1908-06-24 00:00:00,"71 years, 98 days"
23,Benjamin,Harrison,1833-08-20,"55 years, 196 days",1889-03-04,"59 years, 196 days",1893-03-04,"8 years, 9 days",1901-03-13 00:00:00,"67 years, 205 days"
24,Grover,Cleveland,1837-03-18,"55 years, 351 days",1893-03-04,"59 years, 351 days",1897-03-04,"11 years, 112 days",1908-06-24 00:00:00,"71 years, 98 days"
25,William,McKinley,1843-01-29,"54 years, 34 days",1897-03-04,"58 years, 228 days",1901-09-14,0 days,1901-09-14 00:00:00,"58 years, 228 days"
26,Theodore,Roosevelt,1858-10-27,"42 years, 322 days",1901-09-14,"50 years, 128 days",1909-03-04,"9 years, 308 days",1919-01-06 00:00:00,"60 years, 71 days"
27,William,Taft,1857-09-15,"51 years, 170 days",1909-03-04,"55 years, 170 days",1913-03-04,"17 years, 4 days",1930-03-08 00:00:00,"72 years, 174 days"
28,Woodrow,Wilson,1856-12-28,"56 years, 66 days",1913-03-04,"64 years, 66 days",1921-03-04,"2 years, 336 days",1924-02-03 00:00:00,"67 years, 37 days"
29,Warren,Harding,1865-11-02,"55 years, 122 days",1921-03-04,"57 years, 273 days",1923-08-02,0 days,1923-08-02 00:00:00,"57 years, 273 days"
30,Calvin,Coolidge,1872-07-04,"51 years, 29 days",1923-08-02,"56 years, 243 days",1929-03-04,"3 years, 307 days",1933-01-05 00:00:00,"60 years, 185 days"
31,Herbert,Hoover,1874-08-10,"54 years, 206 days",1929-03-04,"58 years, 206 days",1933-03-04,"31 years, 230 days",1964-10-20 00:00:00,"90 years, 71 days"
32,Franklin,Roosevelt,1882-01-30,"51 years, 33 days",1933-03-04,"63 years, 72 days",1945-04-12,0 days,1945-04-12 00:00:00,"63 years, 72 days"
33,Harry,Truman,1884-05-08,"60 years, 339 days",1945-04-12,"68 years, 257 days",1953-01-20,"19 years, 341 days",1972-12-26 00:00:00,"88 years, 232 days"
34,Dwight,Eisenhower,1890-10-14,"62 years, 98 days",1953-01-20,"70 years, 98 days",1961-01-20,"8 years, 67 days",1969-03-28 00:00:00,"78 years, 165 days"
35,John,Kennedy,1917-05-29,"43 years, 236 days",1961-01-20,"46 years, 177 days",1963-11-22,0 days,1963-11-22 00:00:00,"46 years, 177 days"
36,Lyndon,Johnson,1908-08-27,"55 years, 87 days",1963-11-22,"60 years, 146 days",1969-01-20,"4 years, 2 days",1973-01-22 00:00:00,"64 years, 148 days"
37,Richard,Nixon,1913-01-09,"56 years, 11 days",1969-01-20,"61 years, 212 days",1974-08-09,"19 years, 256 days",1994-04-22 00:00:00,"81 years, 103 days"
38,Gerald,Ford,1913-07-14,"61 years, 26 days",1974-08-09,"63 years, 190 days",1977-01-20,"29 years, 340 days",2006-12-26 00:00:00,"93 years, 165 days"
39,Jimmy,Carter,1924-10-01,"52 years, 111 days",1977-01-20,"56 years, 111 days",1981-01-20,"38 years, 175 days",(living),"94 years, 286 days"
40,Ronald,Reagan,1911-02-06,"69 years, 349 days",1981-01-20,"77 years, 349 days",1989-01-20,"15 years, 137 days",2004-06-05 00:00:00,"93 years, 120 days"
41,George,Bush,1924-06-12,"64 years, 222 days",1989-01-20,"68 years, 222 days",1993-01-20,"25 years, 314 days",2018-11-30 00:00:00,"94 years, 171 days"
42,Bill,Clinton,1946-08-19,"46 years, 154 days",1993-01-20,"54 years, 154 days",2001-01-20,"18 years, 175 days",(living),"72 years, 329 days"
43,George,Bush,1946-07-06,"54 years, 198 days",2001-01-20,"62 years, 198 days",2009-01-20,"10 years, 175 days",(living),"73 years, 8 days"
44,Barack,Obama,1961-08-04,"47 years, 169 days",2009-01-20,"55 years, 169 days",2017-01-20,"2 years, 175 days",(living),"57 years, 344 days"